@model Com.Interface.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div id="account">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <hr />
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="standard-control">
                <div class="control">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", PlaceHolder = "Enter your email address" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="submit" value="Submit" />
            </div>
        }
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
