@model Com.Interface.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


<div id="account">
    <div class="container">
        <h1>@ViewBag.Title.</h1>
        <hr />
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            <div class="standard-control">
                <div class="control">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", PlaceHolder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="standard-control">
                <div class="control">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", PlaceHolder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="standard-control">
                <div class="control">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", PlaceHolder = "Confirm password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="submit" value="Reset" />
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
